version: 2

updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
      timezone: "UTC"

    open-pull-requests-limit: 5

    groups:
      laravel:
        patterns:
          - "laravel/*"
      dev-dependencies:
        dependency-type: "development"

    commit-message:
      prefix: "deps"
      include: "scope"
